# macOS template
*.DS_Store
.AppleDouble
.LSOverride

# IntelliJ Project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml

# Compiled files
/target/
**/target

# Gradle
.gradle
/build/
.gradletasknamecache

# env
application-mysql.yml
application-cloud.yml
application-oauth.yml

# generated
/src/main/generated/
/core/src/main/generated/
/api/src/main/generated/